IntSemi-automatedGameGenerationComponent/Design Documentation/Layer XSDs/Subject.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Subject" type="subject"/>

  <xs:complexType name="subject">
    <xs:sequence>
      <xs:element name="IntroText" type="xs:string" minOccurs="0"/>
      <xs:element name="Subject" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

