IntSemi-automatedGameGenerationComponent/Design Documentation/Layer XSDs/Theme.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Behavior" type="behavior"/>

  <xs:element name="Button" type="gameButton"/>

  <xs:element name="FailureScreen" type="failureScreen"/>

  <xs:element name="LOCharacters" type="learningActCharacter"/>

  <xs:element name="Reward" type="reward"/>

  <xs:element name="StoryIntroScreen" type="themeStoryScreenIntro"/>

  <xs:element name="Theme" type="theme"/>

  <xs:element name="ThemeStory" type="themeStory"/>

  <xs:complexType name="theme">
    <xs:sequence>
      <xs:element name="IntroScreens" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IntroScreen" type="themeScreen" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OutroScreens" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OutroScreen" type="themeScreen" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ThemeStories" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ThemeStory" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="themeScreen">
    <xs:sequence>
      <xs:element name="Background" type="xs:string" minOccurs="0"/>
      <xs:element name="ThemeButtons">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="buttonLocationType"/>
                  <xs:element name="value" minOccurs="0" type="sharedButton"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameObjects" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GameObject" type="gameObject" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InformationBoxes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InformationBox" type="sharedInformationBox" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ThemeCharacters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="learningActCharacterType"/>
                  <xs:element name="value" minOccurs="0" type="sharedCharacter"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sharedButton">
    <xs:complexContent>
      <xs:extension base="gameObject">
        <xs:sequence>
          <xs:element name="behavior" type="behavior" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="gameObject">
    <xs:sequence>
      <xs:element name="Height" type="xs:double"/>
      <xs:element name="LocX" type="xs:double"/>
      <xs:element name="LocY" type="xs:double"/>
      <xs:element name="PathToAsset" type="xs:string" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="Width" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="behavior">
    <xs:sequence>
      <xs:element name="behaviorType" type="behaviorType" minOccurs="0"/>
      <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
      <xs:element name="EndLocationX" type="xs:double"/>
      <xs:element name="EndLocationY" type="xs:double"/>
      <xs:element name="EntityID" type="xs:string" minOccurs="0"/>
      <xs:element name="NewVisibility" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectMovement" type="ObjectMovementType" minOccurs="0"/>
      <xs:element name="Points" type="xs:int" minOccurs="0"/>
      <xs:element name="Speed" type="xs:double"/>
      <xs:element name="StartLocationX" type="xs:double"/>
      <xs:element name="StartLocationY" type="xs:double"/>
      <xs:element name="Time" type="xs:int"/>
      <xs:element name="Transition" type="TransitionType" minOccurs="0"/>
      <xs:element name="TransitionID" type="xs:string" minOccurs="0"/>
      <xs:element name="Trigger" type="triggerType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransitionBehavior">
    <xs:complexContent>
      <xs:extension base="behavior">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EndGameBehavior">
    <xs:complexContent>
      <xs:extension base="behavior">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sharedInformationBox">
    <xs:complexContent>
      <xs:extension base="gameObject">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sharedCharacter">
    <xs:complexContent>
      <xs:extension base="gameObject">
        <xs:sequence>
          <xs:element name="CharacterAssetType" type="characterAssetType" minOccurs="0"/>
          <xs:element name="CharacterType" type="learningActCharacterType" minOccurs="0"/>
          <xs:element name="Movements" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Movement" type="objectMovement" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="objectMovement">
    <xs:sequence>
      <xs:element name="AnimationSequences" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AnimationSequence" type="characterAssetType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EndX" type="xs:double"/>
      <xs:element name="EndY" type="xs:double"/>
      <xs:element name="MovementType" type="ObjectMovementType" minOccurs="0"/>
      <xs:element name="Speed" type="xs:double"/>
      <xs:element name="StartX" type="xs:double"/>
      <xs:element name="StartY" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="themeStory">
    <xs:sequence>
      <xs:element name="StoryIntroScreens" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="StoryIntroScreen" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StoryOutroScreens" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StoryOutroScreen" type="themeStoryScreenOutro" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="themeStoryScreenIntro">
    <xs:sequence>
      <xs:element name="Buttons" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Button" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LOCharacters" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Character" type="learningActCharacter" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InformationBoxes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InformationBox" type="gameText" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gameButton">
    <xs:sequence>
      <xs:element name="ButtonLocationType" type="buttonLocationType" minOccurs="0"/>
      <xs:element ref="Reward" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="Timer" type="xs:int"/>
      <xs:element name="TransitionType" type="TransitionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reward">
    <xs:sequence>
      <xs:element name="Points" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="learningActCharacter">
    <xs:complexContent>
      <xs:extension base="gameObject">
        <xs:sequence>
          <xs:element name="CharacterType" type="learningActCharacterType" minOccurs="0"/>
          <xs:element name="MovementType" type="ObjectMovementType" minOccurs="0"/>
          <xs:element name="Timer" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="gameText">
    <xs:sequence>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="TextType" type="textType" minOccurs="0"/>
      <xs:element name="Timer" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="failureScreen">
    <xs:sequence>
      <xs:element name="Buttons" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Button" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LOCharacters" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Character" type="learningActCharacter" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InformationBoxes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InformationBox" type="gameText" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="themeStoryScreenOutro">
    <xs:sequence>
      <xs:element name="Buttons" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Button" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LOCharacters" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Character" type="learningActCharacter" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InformationBoxes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InformationBox" type="gameText" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="buttonLocationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BACK"/>
      <xs:enumeration value="NEXT"/>
      <xs:enumeration value="CHALLENGE_1"/>
      <xs:enumeration value="CHALLENGE_2"/>
      <xs:enumeration value="CHALLENGE_3"/>
      <xs:enumeration value="CHALLENGE_4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="behaviorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REWARD_BEHAVIOR"/>
      <xs:enumeration value="TRANSITION_BEHAVIOR"/>
      <xs:enumeration value="VISIBILITY_BEHAVIOR"/>
      <xs:enumeration value="END_GAME_BEHAVIOR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ObjectMovementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WALK_ONTO_SCREEN"/>
      <xs:enumeration value="WALK_OFF_SCREEN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TransitionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BEGINNING_OF_LESSON"/>
      <xs:enumeration value="BEGINNING_OF_CHALLENGE"/>
      <xs:enumeration value="CURRENT_CHALLENGE"/>
      <xs:enumeration value="NEXT_CHALLENGE"/>
      <xs:enumeration value="END_OF_STORY"/>
      <xs:enumeration value="ADDITIONAL"/>
      <xs:enumeration value="NEXT_SCREEN"/>
      <xs:enumeration value="NEXT_ACT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="triggerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Click"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="learningActCharacterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLAYER"/>
      <xs:enumeration value="HERO"/>
      <xs:enumeration value="VILLIAN"/>
      <xs:enumeration value="ALT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="characterAssetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STAND_SMILE_CLOSED"/>
      <xs:enumeration value="WALK_RIGHT_BEHIND"/>
      <xs:enumeration value="WALK_LEFT_OPEN"/>
      <xs:enumeration value="RIGHT_POINT_UP"/>
      <xs:enumeration value="RIGHT_POINT_NO"/>
      <xs:enumeration value="WALK_RIGHT_CLOSED"/>
      <xs:enumeration value="WALK_RIGHT_OPEN"/>
      <xs:enumeration value="WALK_LEFT_BEHIND"/>
      <xs:enumeration value="LEFT_POINT_NO"/>
      <xs:enumeration value="LEFT_EVIL"/>
      <xs:enumeration value="LEFT_POINT_UP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="textType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLAYER"/>
      <xs:enumeration value="HERO"/>
      <xs:enumeration value="VILLIAN"/>
      <xs:enumeration value="ALT1"/>
      <xs:enumeration value="ALT2"/>
      <xs:enumeration value="CHALLENGE_DESCRIPTION"/>
      <xs:enumeration value="CHALLENGE_QUESTION"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

